@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-primary {
    @apply bg-amber-600 text-white rounded-lg hover:bg-amber-800 transition-colors
  }
  .input-secondary {
    @apply text-black py-2 px-3 w-72 rounded-lg
  }
  .button-primary {
    @apply bg-amber-600 text-white rounded-lg hover:bg-amber-800 transition-colors
  }
}

.active {
  @apply scale-95 
}

.bg-secondary {
  background-color: rgb(70, 70, 70);
}

span {
  font-size: inherit;
  text-decoration: underline #d97706 dashed;
}

* {
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 18px;
}

body {
  padding: 10px;
  max-width: 768px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: rgb(50, 50, 50);
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  font-weight: 800;
}

h2 {
  font-size: 25px;
  font-weight: 600;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 300px;
}

input {
  outline: none;
}
